body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: #000000;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.image-container img {
  height: 50vh;
  width: auto;
  text-align: center;
  margin-left: 30%;
  border-radius: 18px;
}

ul {
  list-style: none;
}

.courses {
  padding: 5px;
  background-color: #f6f2f2;
}
li {
  list-style: none;
}

.register-button:hover {
  background-color: #0056b3;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}

.header-subtext {
  color: hsl(240, 1%, 34%);
}

.benefits-container {
  display: flex;
  padding: 0px;
  gap: 28px;
  justify-content: center;
}

.benefit {
  display: flex;
  height: auto;
  padding: 16px;
  flex-direction: column;
  gap: 4px;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.392);
  border-radius: 12px;
}

.benefit:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: ease-out 0.3s;
  box-shadow: 4px 4px 4px 4 px rgba(92, 92, 92, 0.392);
}

.benefit-title {
  font-size: 18px;
  font-weight: 650;
}

.benefit-description {
  font-size: 14px;
}
.about{

  padding: 18px 28px;
  margin-top: 10%;
}
.about-in-mobile{

  padding: 18px 28px;
  margin-top: 73vh;
  height: auto;
  width: auto;
}

.about-course-content {
  animation: bounce;
  display: flex;
  padding: 12px;
  gap: 30px;
  font-size: 12px;
  margin-top: 10%;
}

.about-image img {
  width: auto;
  height: auto;
  border-radius: 12px;
}

.about-description p {
  margin-bottom: 12px;
  color: #333;
  font-size: 16px;
}

.course-description-card {
  background-color: #fdf2f0;
  width: auto;
  height: auto;
  animation: bounceLeft 3.5s ease-in-out;
  padding: 23px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  box-shadow: 4px 4px 4px 4px rgba(92, 92, 92, 0.392);
}
.course-description-card-in-mobile {
  background-color: #fdf2f0;
  min-width: 90%;

  animation: bounceLeft 3.5s ease-in-out;
  padding: 23px;
  border-radius: 12px;

  align-items: center;

  box-shadow: 4px 4px 4px 4px rgba(92, 92, 92, 0.392);
}

.about-container {
  font-size: 24px;
  text-align: center;
  margin-top: 15%;
}
.about-container-in-mobile {
  font-size: 24px;
  text-align: center;
  margin-top: 5%;
}

.course-content {
  padding: 24px;
  animation: bounceRight 3.5s ease-in-out;
  width: 950px;
  height: auto;
  border-radius: 12px;
  display: flex;
  gap: 24px;
  border: 1px solid beige;
  box-shadow: 9px 9px 4px 5px rgba(200, 129, 255, 0.392);
}

.instructor-image {
  width: 25vh;
  height: 150px;
  border-radius: 100%;
}

.name-linkedin {
  display: flex;
  justify-content: center;
  padding: 0px;
  align-items: center;
  gap: 14px;
}

.about-instructor {
  height: auto;
  padding: 16px;
}

.instructor-card {
    display: flex;
    width: 90%;
    padding-top: 0px;
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.392);
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 10vh;
    border-radius: 12px;
    height: auto;
    flex-direction: column;
}

.instructor-name {
  display: flex;
  margin-top: 16.6px;
  align-items: center;
  justify-content: center;
}

.linked-in-icon {
  width: 26px;
}

.linked-in-icon:hover {
transform: scale(1.15);
transition: 3s ease-in-out;
}

.content-header p {
  font-size: 28px;
}

.content-header hr {
  margin: 2px;
  width: 182px;
  color: white;
  height: 0.9px;
}

.courses-list {
  display: flex;
}

.content-header {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.content-header .shadow-courses {
  padding: 24px;
  height: 734px;
  border-radius: 12px;
}

.course-content li:before {
  content: "\2BA9";
  margin-right: 8px;
  color: #000;
}

.shadow-courses div {
  display: flex;
  gap: 18px;
  border: 1px solid beige;
  padding: 12px;
  border-radius: 12px;
  flex-direction: column;
  box-shadow: 9px 9px 4px 5px #a2f885;
}

.shadow-courses h2 {
  align-self: flex-start;
}

.shadow-courses li {
  font-size: 16px;
}

.intermediate-advanced {
  display: flex;
  gap: 24px;
  flex-direction: column;
}



.intermediate-advanced div {
  height: 340px;
  border-radius: 12px;
  padding: 36px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 340px;
}

.intermediate-advanced div h2 {
  align-self: flex-start;
}

.intermediate-advanced div {
  padding: 16px;
  display: flex;
  width: 100%;
  height: auto;
  font-size: 16px;
  
  gap: 12px;
}

.advanced-level {
  height: 10px;
  width: 230px;
  box-shadow: 9px 9px 4px 5px rgba(255, 24, 24, 0.392);
}
.advanced-level-in-mobile {
  height: 10px;
  width: 90%;
  box-shadow: 9px 9px 4px 5px rgba(255, 24, 24, 0.392);
}
.intermediate {
  box-shadow: 9px 9px 4px 5px rgba(24, 174, 255, 0.392);
}
.intermediate-in-mobile {
  min-width: 90%;
  margin-top: -20%;
  box-shadow: 9px 9px 4px 5px rgba(24, 174, 255, 0.392);
}

.advanced-level:hover,
.intermediate:hover,
.intermediate-in-mobile:hover,
.advanced-level-in-mobile:hover,
.shadow-courses:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: ease-out 0.3s;
}

.total{
  width: auto;
  height: auto;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  
  box-shadow: 0px 0px 9px 5px rgba(188, 208, 12, 0.392)
}

.learn-apply-succeed{
  width: auto;
  text-align: center;
  
  margin-top: 5%;
  padding: 10px;
  
  box-shadow: 1px 1px 9px 2px rgba(171, 219, 177, 0.392);
}
.learn-on-demand{
  width: auto; 
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
  padding: 3%;
  margin-right: 30%;
  box-shadow: -5px 5px 10px 2px rgba(255, 24, 24, 0.392);
}
.learn-from-experts{
  width: auto; 
  text-align: right; 
  margin-left: 40%;
  margin-top: 5%;
  padding: 3%;
  margin-right: 2%;
  box-shadow: 9px 9px 10px 2px rgba(255, 24, 24, 0.392);
}
.subscribe-to-scale{
  width: auto; 
  text-align: left; 
  margin-left: 10%;
  margin-top: 5%;
  padding: 3%;
  margin-right: 30%;
  box-shadow: -5px 9px 10px 2px rgba(255, 24, 24, 0.392);

}
.learn-on-demand:hover, .learn-from-experts:hover , .subscribe-to-scale:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: ease-out 0.3s;
  box-shadow: -5px 5px 30px 5px rgba(255, 24, 24, 0.392);
}

.social i {
  color: black;
  transition: transform 0.3s;
}

.social i:hover {
  transform: scale(1.3);
}

.links-copy-right {
  display: flex;
  gap: 12px;
  color: #000;
}

.links-copy-right a {
  color: #000;
}

.faq-container {
  display: flex;
  padding: 24px;
  flex-direction: column;
  width: 90%;
  gap: 18px;
  height: auto;
  animation: bounceRight 3.5s ease-in-out;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 35px auto;
}

.faq-container h2 {
  font-size: 24px;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

.faq-container p {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.faq-item hr {
  border: none;
  border-top: 1px solid #ddd;
  background-color: #ff0000;
  margin: 4px 0;
  width: 60px;
  height: 3px;
}

.faq-item p {
  margin-top: 12px;
}

.faq-item {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 1px;
}

.testimonial-text {
  margin: 20px 0;
  font-size: 16px;
  color: #333;
}

.testimonial-name {
  font-size: 18px;
  color: #555;
  font-weight: bold;
}

.footer {
  height: 20vh;
  color: #f6f2f2;
  width: 100%;
}

.left-container {
  animation: bounceLeft 3.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.right-container {
  animation: bounceRight 3.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(1080px);
  }
  60% {
    transform: translateX(32px);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-1080px);
  }
  60% {
    transform: translateX(-32px);
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: auto;
  padding: 150px 50px;
}

.testimonial-header-container {
  animation: bounceRight 5.5s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: -2px;
  align-items: center;
}

.testimonials-header {
  color: #000;
  font-size: 36px;
  font-weight: 650;
}

.testimonial-subtext {
  font-weight: 450;
  

  color: #494949;
}

.testimonial-subtext span {
  color: #000000;
  font-weight: 700;
}

.button-container button {
  font-size: 24px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-top: 5vh;
  animation: bounceRight 5.5s ease-in-out;
  background-color: #ed0d0dbf;
  border-radius: 12px;
  padding: 14px;
}

.button-container button:hover {
  transition: ease 0.4s;
  box-shadow: 0px 0px 4px 6px rgba(9, 234, 13, 0.334);
}

.swiper {
  animation: bounceLeft 5.5s ease-in-out;
  width: 1200px;
  height: 560px;
  display: flex;
  padding: 30px;
  gap: 12px;
  border-radius: 12px;
  align-items: center;
  box-shadow: 0px 0px 4px 3px rgba(180, 180, 180, 0.1);
  justify-content: center;
}

.swiper-slide {
  box-shadow: 2px 4px 4px 3px rgba(119, 119, 119, 0.1);
  display: flex;
  padding: 30px 50px;
  width: 200px;
  border-radius: 12px;
  height: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-card {
  display: flex;
  gap: 24px;
  width: 330px;
  height: 450px;
}

.rating-container span {
  color: gold;
}

.endorser-details {
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: center;
}

.endorser-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.endorser-name p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

.endorser-details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

a {
  text-decoration: none;
  color: #f5f1f1;
}

a:hover {
  text-decoration: none;
  color: #ead9d9;
}

.location {
  animation: fadeIn 1.5s ease-in-out;
  display: flex;
  height: 80vh;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

iframe {
  border-radius: 12px;
}

.location button {
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: #ee0a0abf;
  border-radius: 12px;
  padding: 12px;
}

.location button:hover {
  background-color: #300606bf;
}
.certificate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: -10px -50px;
}
.certificate-description{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: -10px -50px;
}
.my{
  margin-top: 10vh;
}
.you{
  margin-bottom: 20vh;
}
